/* Common Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "silent" 0;
}

.orange-color {
  color: #ff5400;
}

/* Nav Section */

.nav {
  margin-top: 63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
}

.logo-title {
  display: flex;
  gap: 30px;
}

.nav-btns a {
  text-decoration: none;
  color: black;
  margin-right: 44px;
}

/* Banner Styles */

.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  filter: brightness(70%);
}

.txt-area-1 {
  position: relative;
  top: -460px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.txt-1 {
  font-size: 4em;
}

.selector-option {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  gap: 16px;
  width: 50%;
  margin-left: 25%;
  padding: 16px;
  border-radius: 8px;
}

.input {
  width: 174px;
  height: 52px;
  padding-left: 16px;
  border-radius: 8px;
}

.btn-1 {
  border: none;
  background: #ff5400;
  color: white;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .nav-btns {
    display: none;
  }

  .nav {
    margin-top: 20px;
    background-image: url(Images/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 26px;
    font-size: 17px;
    justify-content: flex-start;
    align-items: center;
  }

  /* .hidden {
    display: none;
  } */

  /* Banner */

  .banner-img {
    width: 335px;
    height: 483px;
  }

  .txt-area-1 {
    /* align-items: ce; */
  }

  .txt-1 {
    font-size: 27px;
  }

  .txt-2 {
    font-size: 13px;
  }

  .selector-option {
    flex-direction: column;
    margin-left: 13%;
    margin-top: 16px;
    width: 270px;
    height: 270px;
  }

  .input {
    width: 255px;
    height: 52px;
  }

  .btn-1 {
    width: 255px;
    height: 52px;
  }
}
