/* Common Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.body {
  margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "silent" 0;
}

.orange-BgColor {
  background-color: #ff5400;
}

.twentyFourPx {
  margin-top: 24px;
}

/* Nav Section */

.nav {
  margin-top: 63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
}

.logo-title {
  display: flex;
  gap: 30px;
}

.nav-btns a {
  text-decoration: none;
  color: black;
  margin-right: 44px;
}

/* Banner Styles */

.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  filter: brightness(70%);
}

.txt-area-1 {
  position: relative;
  top: -460px;
  text-align: center;
  color: white;
}

.txt-1 {
  font-size: 4em;
}

.txt-2 {
  margin-bottom: 50px;
}

.selector-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  gap: 16px;
  width: 50%;
  padding: 16px;
  border-radius: 8px;
  margin: 0 auto;
}

.input {
  width: 174px;
  height: 52px;
  padding-left: 16px;
  border-radius: 8px;
}

.btn-1 {
  border: none;
  color: white;
  background-color: #ff5400;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  cursor: pointer;
}

/* plan section */

.popular-plans-section {
  display: flex;
  justify-content: center;
  gap: 53px;
}

.txt-area-2 {
  color: rgba(19, 19, 24, 0.7);
}

.txt-3 {
  font-size: 40px;
}

.txt-4 {
  width: 600px;
}

.txt-5 {
  width: 400px;
}

.txt-5 li {
  margin-top: 16px;
}

.txt-6 {
  width: 550px;
}

.btn-2 {
  background: #ff5400;
  border: none;
  color: white;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  font-size: 19px;
  cursor: pointer;
}

.hide {
  display: none;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .nav-btns {
    display: none;
  }

  .nav {
    margin-top: 20px;
    background-image: url(Images/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 26px;
    font-size: 17px;
    justify-content: flex-start;
    align-items: center;
  }

  /* .hidden {
    display: none;
  } */

  /* Banner */

  .banner-img {
    width: 20.9375em;
    height: 483px;
  }

  .txt-1 {
    font-size: 27px;
  }

  .txt-2 {
    font-size: 13px;
  }

  .selector-option {
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    width: 270px;
    height: 270px;
  }

  .input {
    width: 255px;
    height: 52px;
  }

  .btn-1 {
    width: 255px;
    height: 52px;
  }

  /* plan Section */

  .img-1 {
    width: auto;
    width: 100%;
  }

  .popular-plans-section {
    flex-direction: column;
  }

  .txt-4 {
    width: 95%;
  }

  .txt-5 {
    width: 91%;
  }

  .txt-6 {
    width: 95%;
  }
}
